<!DOCTYPE HTML>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Document</title>
</head>
<body>
<h1 id="address" style="text-align:center; font-size:40px; background-color:blue; color:white;">Address</h1><br>
  <hr>
<address style=" text-align:center;">
    <b>City Hospital pvt.Ltd<br>
    Nethaji Road<br>
    Palarivattom junction<br>
    Ernamkulam District<br>
    Pin:632541<br>
    Phone:0498-258741<br>
        Email:city@gmail.com</b>


</address>
</body>
</html>