<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body style="background-color:grey;">
<div class="container text-center bg-primary">
    <div class="row mx-auto">
 {% for d in dep %}
<div class="card text-center mx-3 my-3" style="width: 18rem; display:inline-block">
  <img src="{{d.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{d.name}}</h5>
    <p class="card-text">{{d.desc}}</p>
  </div>
</div>
{% endfor %}
    </div>
</div>

</body>
</html>